@import "tailwindcss";

@theme {
    --color-mango: #FFA725;
    --color-beige: #FFF5E4;
    --color-mint: #C1D8C3;
    --color-vintage: #6A9C89;
    --color-hover: #598373;
    --color-almostwhite: #f8f4f3;
  }